# Python
__pycache__/
*.py[cod]
*.pyo
venv/

# Environment
.env
backend/.env

# Celery
backend/celerybeat-schedule*

# Valhalla tiles 
backend/valhalla/custom_data/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Scripts 
backend/scripts/*.geojson